---
layout: default
customamp:
- amp-carousel
- amp-youtube
- amp-iframe
metatitle: Fortbildung sektoraler Heilpraktiker Physiotherapie
---

<div id="mainheader" class="boxshadow">
    <h1>Erfolgreich im Direktzugang als Heilpraktiker Physiotherapie</h1>
    <h2 class="green">Deine Physiotherapie, selbstbestimmt und ohne Umwege. Für therapeutische und
        betriebswirtschaftliche Freiheit.</h2>
</div>
<div class="clearfix"></div>
<main>
    <section>
        <amp-carousel id="mainDozentenCarousel" class="dozentencarousel" width="852" height="400" layout="responsive"
            type="slides" autoplay delay="7000">
            {% for dozent in site.data.dozenten %}
            {% assign picwidth = dozent.width | divided_by: 8.52 %}
            <div>
                <div class="imagewrapper" style="width: {{picwidth}}%">
                    <amp-img class="carousel-halffaceimg"
                        alt="{{dozent.name}}, {{dozent.beruf}}, Dozent in der Fortbildung sektoraler Heilpraktiker Physiotherapie}}"
                        src="{{dozent.halffaceimg}}" width="{{dozent.width}}" height="400"
                        layout="responsive"></amp-img>
                </div>
                <div class="dozenttext" style="width: {{99 | minus: picwidth}}%">
                    <div class="dozentquote">
                        "{{dozent.zitat}}"
                    </div>
                    <div class="dozentname">
                        <span>{{dozent.name}}</span> <br /> {{dozent.beruf}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </amp-carousel>


    </section>
    <section class="lightgrey fontalt fullwidthtextbar">

        <div class="welcometext post">
            <article>
                Schön, dass Du uns gefunden hast
                <br>und damit die umfassendste Quelle für Informationen zum
                <h3> sektoralen Heilpraktiker für Physiotherapie </h3> 
                <br>und das hingabevollste Team für die
                <h3> Fortbildung zur Erreichen der notwenidgen Erlaubnis</h3>
                <br>
                <br>Schon mehrere hundert Physiotherapeuten und Physiotherapeutinnen aus ganz Deutschland, konnten mit
                unserem Engagement erfolgreich in den Direktzugang starten.
                <br>
            </article>
        </div>
    </section>
    <amp-iframe
        class="elfsight_widget"
        width="600"
        height="360"
        layout="responsive"
        sandbox="allow-scripts allow-same-origin"
        frameborder="0"
        src="https://d958d1a13eca433fbf51ac8fdfbdcc6c.elf.site">
        <amp-img layout="fill" src="https://foo.com/foo.png" placeholder></amp-img>
    </amp-iframe>
  
    <section class="lightgrey fontalt fullwidthtextbar">
        <div class="welcometext post">
            <article>
                Auch Du kannst Dich hoffentlich bald dazu zählen. Diese Entscheidung wird Deinen Berufsalltag verändern.
                <br>
                <br>Unsere Kurse in Präsenz, Online oder auch "Hybrid" findest Du unter <a
                    href="{{site.baseurl}}/termine-und-anmeldung/">Termine und Anmeldung</a>
            </article>
        </div>
    </section>
    <section class="green button fullwidthtextbar">
        <div class="textaligncenter">
            <a class="standardbutton textcolorwhite" href="{{site.baseurl}}/termine-und-anmeldung/">
                <h2>Buche jetzt Deine Fortbildung</h2>
            </a>
        </div>
    </section>
    <section>
        <br />
        <h3>Ein kleiner Eindruck unserer Fortbildung zum Heilpraktiker für Physiotherapie</h3>
        <br />
        <span>mit einigen Sequenzen aus unseren Unterricht in Präsenz, aber auch online als Webinar</span>
        <br>
        <br>
        <amp-youtube data-videoid="3Em8LPI3aEw" layout="responsive" width="1280" height="720" loading="lazy" credentials="omit">
            <amp-img
                src="https://i.ytimg.com/vi/Wm1fWz-7nLQ/hqdefault_live.jpg"
                placeholder
                layout="fill"
            />
        </amp-youtube>
    </section>
    <section id="shortintros">
        <h2>Die wichtigsten Informationen zum Heilpraktiker für Physiotherapie zusammengefasst</h2>

        <article class="lightgrey fullwidthtextbar">
            <h3>Kurstermine</h3>
            Unsere Fortbildung zum sektoralen Heilpraktiker für Physiotherapie findet wechselnd in verschiedenen Städten
            und Bundesländern statt (z.B. Düsseldorf-NRW, Wiesbaden-Hessen, Regensburg-Bayern, Stadthagen-Niedersachsen,
            Jena-Thüringen, Berlin).<br />
            <blockquote>Erfahre mehr zu den Terminen und Kursorten unter <a
                    href="{{site.baseurl}}/termine-und-anmeldung/">Termine</a></blockquote>
        </article>

        <article>
            <h3>Anerkennung nach Aktenlage</h3>
            Unterwegs sind wir bislang vor allem in NRW, Niedersachsen, Hessen, Rheinland-Pfalz und Bayern.<br />
            Eine Anerkennung unserer Fortbildung und damit die Erlaubniserteilung nach Aktenlage, ist aber auch in den
            meisten anderen Bundesländern wie z.B. in Brandenburg, Mecklenburg-Vorpommern oder Berlin entsprechend der
            dort gültigen Verwaltungsvorschrift möglich. <br /> In anderen Bundesländern wie Thüringen, Baden-Württemberg oder Schleswig-Holstein wird nur sehr selten nach Aktenlage entschieden und meist eine zusätzliche mündliche Prüfung beim Gesundheitsamt verlangt. Aber auch darauf bist Du mit unserer Fortbildung bestmöglich vorbereitet. 
            <blockquote>Mehr zu den Voraussetzungen zur Anerkennung nach Aktenlage findest Du unter <a
                    href="{{site.baseurl}}/voraussetzungen-und-anerkennung/">Voraussetzungen</a>.</blockquote>
        </article>

        <article class="lightgrey fullwidthtextbar">
            <h3>Die Fortbildung zum Heilpraktiker Physiotherapie</h3>
            Die Fortbildung zum <em>HP Physio</em> ist mit insgesamt 2 mal 3 Tagen Umfang recht überschaubar.<br />
            Diese Zeit wird dafür von uns umso intensiver genutzt. <br />
            Schon vorab werden wir Dich mit entsprechenden Lernmaterialen ausstatten, um Dich optimal vorbereiten zu
            können.<br />
            Dazu dienen unsere Skripte, multimediale Sequenzen und weitere informative Hand-outs im Kurs.<br />
            So sollen alle zukünftigen <em>Heilpraktiker Physiotherapie</em> nicht nur auf die Prüfung, sondern vor
            allem auch auf die erfolgreiche Praxis im Direktzugang vorbereitet werden.<br />
            <blockquote>Wenn Du mehr Überzeugung brauchst, um uns Dein Vertrauen für die Fortbildung zu geben findest Du
                hierzu weitere Infos unter <a
                    href="{{site.baseurl}}/fortbildung-zum-heilpraktiker-physiotherapie/">Fortbildung</a>.</blockquote>
        </article>

        <article>
            <h3>Was ist ein Heilpraktiker für Physiotherapie?</h3>
            Der sektorale Heilpraktiker für Physiotherapie ist eine riesen Chance für alle Physios, die sich mehr
            Eigenständigkeit und Selbstbestimmung wünschen.<br />
            Die Physiotherapie ist eine äußerst wichtige Säule in der Versorgung von Patienten mit Beschwerden am
            Bewegungsapparat und vielen weiteren Einschränkungen und Leiden. <br />
            Durch die strikte Weisungsgebundenheit an den Arzt, wird das Potential aber enorm beschnitten.<br />
            Der <em>HP Physio</em> ist dieser Einschränkung kaum noch ausgesetzt.<br />
            Jeder Patient kann so direkt zum Physiotherapeut gehen und sich den "Umweg" über den Arzt sparen.<br />
            Therapeut und Patient können sich direkt einig werden über Maßnahmen, Umfang, Frequenz und auch Kosten der
            Therapie. Dies kann eine wesentliche Bereicherung der Arbeit als Physiotherapeut sein.<br />
            <blockquote>Wenn Du mehr Informationen zum <em>Heilpraktiker Physiotherapie</em> im Allgemeinen haben
                möchtest und mehr zu den Vorteilen, Chancen aber auch neuen Aufgaben erfahren möchtest, klick einfach
                auf <a href="{{site.baseurl}}/was-ist-ein-heilpraktiker-physiotherapie/">Infos zum HP Physio</a>.
            </blockquote>
        </article>

        <article class="lightgrey fullwidthtextbar">
            <h3>Wenn Du Fragen hast, helfen wir gerne</h3>
            Dein Erfolg und Deine Zufriedenheit liegt uns wirklich am Herzen.<br />
            Wenn Du vor Deiner Entscheidung zu uns zukommen Fragen hast, dann kontaktiere uns wann immer es Dir
            beliebt.<br />
            Arne übernimmt den größten Teil der Kommunikation mit Dir. Erreichbar über Facebook, Twitter und Co. aber
            natürlich auch telefonisch und am aller besten per Email, kannst Du immer auf schnelle und verlässliche
            Information zum <em>Heilpraktiker Physiotherapie</em>, unserer Fortbildung und der Anerkennung nach
            Aktenlage zählen.<br />
            <blockquote>Die besten Wege uns zu erreichen, findest Du unter <a
                    href="{{site.baseurl}}/kontakt/">Kontakt</a>.</blockquote>
        </article>

        <article>
            <h3>Spannende Artikel in unserem Blog</h3>
            Es gibt wirklich viel spannendes zu Erfahren zum <em>Heilpraktiker Physiotherapie</em> und dem
            Direktzugang.<br /> Das wirst Du in der Fortbildung erleben. Aber auch darüber hinaus, ist es uns ein
            Anliegen, einen Beitrag zu leisten zu bestmöglicher Qualität der Physiotherapie, vor allem im
            Direktzugang.<br />
            Daher soll sich auch unser Blog immer mehr füllen, mit spannenden Artikeln zu nationalen und internationalen
            Entwicklungen und Erkenntnissen in der Physiotherapie.<br />
            <blockquote>Schau doch einfach öfter mal vorbei in unserm Blog, den Du hier findest unter <a
                    href="{{site.baseurl}}/neuigkeiten-und-lesenswertes-zum-heilpraktiker-physiotherapie/">Blog</a>.
            </blockquote>
        </article>
    </section>
</main>
<script type="application/ld+json" defer>
  {% include metadata.json %}
  </script>
