---
layout: default
---

    <div id="mainheader" class="boxshadow">
        <h1>Erfolgreich im Direktzugang als Heilpraktiker Physiotherapie</h1>
        <h2 class="green">Deine Physiotherapie, selbstbestimmt und ohne Umwege. Für therapeutische und betriebswirtschaftliche Freiheit.</h2> </div>
    <div class="clearfix"></div>
    <main>
       <section>
            <amp-carousel class="dozentencarousel" width="852" height="400" layout="responsive" type="slides" autoplay delay="7000">
               {% for dozent in site.data.dozenten %}
                <div>
                 <div class="imagewrapper">
                    <amp-img class="carousel-halffaceimg" src="{{dozent.halffaceimg}}" width="168" height="400" layout="responsive"/>
                 </div>
                   <div class="dozenttext">
                       <div class="dozentquote">
                        "{{dozent.zitat}}"
                    </div>
                    <div class="dozentname">
                        <span>{{dozent.name}}</span> <br/> {{dozent.beruf}}
                    </div>
                   </div>
               </div>
               {% endfor %}
            </amp-carousel>
        </section>
        <section class="lightgrey boxshadow fontalt fullwidthtextbar">
            <div id="welcometext">
               <article>
               <strong>Schön, dass Du uns gefunden hast</strong>
                <br/>und damit die wichtigste Quelle für Informationen zum
                <h3> sektoralen Heilpraktiker für Physiotherapie </h3> und das hingabevollste Team für die
                <h3> Fortbildung zur Anerkennung nach Aktenlage.</h3>
                <br>
                <br>Schon viele<h3> Physiotherapeuten und Physiotherapeutinnen aus ganz Deutschland, </h3>konnten mit unserem Engagement
                <h3> erfolgreich in den Direktzugang starten</h3>.
                <br>
                <br> Auch Du kannst Dich hoffentlich bald dazu zählen. <strong>Diese Entscheidung wird Deinen Berufsalltag verändern.</strong>
                <br> Alle wichtigen Informationen findest Du auf dieser Seite. 
                </article>
                </div>
        </section>
        <section>
            <div > <strong><br/><strong>Wähle einfach wonach Du suchst:</strong></strong>
            </div>
        <div id="AuswahlSection">
            <a href="{{site.baseurl}}/termine-und-anmeldung/"><button class="blue hoveropacity"><strong>Ich will jetzt den Direkt<wbr/>zugang! <br/>Wann und wo geht es los?</strong></button></a>
            <a href="{{site.baseurl}}/fortbildung-zum-heilpraktiker-physiotherapie/"><button class="green hoveropacity">mehr Informationen zur Fortbildung</button></a>
            <a href="{{site.baseurl}}/voraussetzungen-und-anerkennung/"><button class="midgrey hoveropacity">mehr Informationen zu Voraus<wbr/>setzungen und Anerkennung </button></a>
            <a href="{{site.baseurl}}/was-ist-ein-heilpraktiker-physiotherapie/"><button class="red hoveropacity">mehr Informationen zum HP Physio</button></a>
        </div>
        </section>
        <section id="shortintros">
           <h2>Die wichtigsten Informationen zusammengefasst</h2>
           <h3>Kurstermine</h3>
           {% for kurs in site.data.kurstermine %}
                <script type="application/ld+json">
                      {% include eventmetadata.json event=kurs %}
                </script>
            {% endfor %}
            <article>
                Unsere Fortbildung zum sektoralen Heilpraktiker für Physiotherapie findet wechselnd in verschiedenen Städten und Bundesländern statt.<br/>
                <blockquote>Erfahre mehr zu den Terminen und Kursorten unter <a href="{{site.baseurl}}/termine-und-anmeldung/">Termine</a></blockquote>
            </article>
            <h3>Anerkennung nach Aktenlage</h3>
            <article>
                Unterwegs sind wir bislang vor allem in NRW, Niedersachsen, Hessen, Rheinland-Pfalz und Bayern.<br/>
                Anerkannt wir unsere Fortbildung aber auch in den meisten anderen Bundesländern wie z.B. in Baden-Württemberg, Thüringen, Berlin oder Sachsen. Die Anerkennung nach Aktenlage, ohne weitere Prüfung beim Gesundheitsamt, ist hier mit unserer Fortbildung möglich.<br/>
                <blockquote>Mehr zu den Voraussetzungen zur Anerkennung nach Aktenlage findest Du unter <a href="{{site.baseurl}}/voraussetzungen-und-anerkennung/">Voraussetzungen</a>.</blockquote>
            </article>
            <h3>Die Fortbildung zum Heilpraktiker Physiotherapie</h3>
            <article>
                Die Fortbildung zum <em>HP Physio</em> ist mit insgesamt 2 mal 3 Tagen Umfang recht überschaubar.<br/>
                Diese Zeit wird dafür von uns umso intensiver genutzt. <br/>
                Schon vorab werden wir Dich mit entsprechenden Lernmaterialen ausstatten, um Dich optimal vorbereiten zu können.<br/>
                Dazu dienen unsere Skripte, multimediale Sequenzen und weitere informative Hand-outs im Kurs.<br/>
                So sollen alle zukünftigen <em>Heilpraktiker Physiotherapie</em> nicht nur auf die Prüfung, sondern vor allem auch auf die erfolgreiche Praxis im Direktzugang vorbereitet werden.<br/>
                <blockquote>Wenn Du mehr Überzeugung brauchst, um uns Dein Vertrauen für die Fortbildung zu geben findest Du hierzu weitere Infos unter <a href="{{site.baseurl}}/fortbildung-zum-heilpraktiker-physiotherapie/">Fortbildung</a>.</blockquote>
            </article>
            <h3>Allgemeine Informationen zum Heilpraktiker Physiotherapie</h3>
            <article>
                Der sektorale Heilpraktiker für Physiotherapie ist eine riesen Chance für alle Physios, die sich mehr Eigenständigkeit und Selbstbestimmung wünschen.<br/> 
                Die Physiotherapie ist eine äußerst wichtige Säule in der Versorgung von Patienten mit Beschwerden am Bewegungsapparat und vielen weiteren Einschränkungen und Leiden. <br/>
                Durch die strikte Weisungsgebundenheit an den Arzt, wird das Potential aber enorm beschnitten.<br/>
                Der <em>HP Physio</em> ist dieser Einschränkung kaum noch ausgesetzt.<br/> 
                Jeder Patient kann so direkt zum Physiotherapeut gehen und sich den "Umweg" über den Arzt sparen.<br/>
                Therapeut und Patient können sich direkt einig werden über Maßnahmen, Umfang, Frequenz und auch Kosten der Therapie. Dies kann eine wesentliche Bereicherung der Arbeit als Physiotherapeut sein.<br/>
                 <blockquote>Wenn Du mehr Informationen zum <em>Heilpraktiker Physiotherapie</em> im Allgemeinen haben möchtest und mehr zu den Vorteilen, Chancen aber auch neuen Aufgaben erfahren möchtest, klick einfach auf <a href="{{site.baseurl}}/was-ist-ein-heilpraktiker-physiotherapie/">Infos zum HP Physio</a>.</blockquote>
            </article>
            <h3>Wenn Du Fragen hast, helfen wir gerne</h3>
            <article>
                Dein Erfolg und Deine Zufriedenheit liegt uns wirklich am Herzen.<br/>
                Wenn Du vor Deiner Entscheidung zu uns zukommen Fragen hast, dann kontaktiere uns wann immer es Dir beliebt.<br/>
                Arne übernimmt den größten Teil der Kommunikation mit Dir. Erreichbar über Facebook, Twitter und Co. aber natürlich auch telefonisch und am aller besten per Email, kannst Du immer auf schnelle und verlässliche Information zum <em>Heilpraktiker Physiotherapie</em>, unserer Fortbildung und der Anerkennung nach Aktenlage zählen.<br/>
                <blockquote>Die besten Wege uns zu erreichen, findest Du unter <a href="{{site.baseurl}}/kontakt/">Kontakt</a>.</blockquote>
            </article>
            <h3>Spannende Artikel in unserem Blog</h3>
            <article>
                Es gibt wirklich viel spannendes zu Erfahren zum <em>Heilpraktiker Physiotherapie</em> und dem Direktzugang.<br/> Das wirst Du in der Fortbildung erleben. Aber auch darüber hinaus, ist es uns ein Anliegen, einen Beitrag zu leisten zu bestmöglicher Qualität der Physiotherapie, vor allem im Direktzugang.<br/>
                Daher soll sich auch unser Blog immer mehr füllen, mit spannenden Artikeln zu nationalen und internationalen Entwicklungen und Erkenntnissen in der Physiotherapie.<br/>
                <blockquote>Schau doch einfach öfter mal vorbei in unserm Blog, den Du hier findest unter <a href="{{site.baseurl}}/neuigkeiten-und-lesenswertes-zum-heilpraktiker-physiotherapie/">Blog</a>.</blockquote>
            </article>
        </section>
    </main>
  <script type="application/ld+json">
  {% include metadata.json %}
  </script>
