---
layout: page
title: Unser Blog - kleine Artikel zu wichtigen Erkenntnissen und Entwicklungen in der Physiotherapie und dem Direktzugang
description: kurze Artikel zum Heilpraktiker für Physiotherapie
metatitle: Blog zur Fortbildung sektoraler Heilpraktiker Physiotherapie
scssfile: blog.scss
---


  <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Abonniere diesen Blog als rss-feed</span></a>
  <br/>
  <section class="posts">
      {% for post in paginator.posts %}
    <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
      <meta itemprop="mainEntityOfPage" content="{{site.baseurl}}{{post.url}}"/>
      <meta itemprop="author" content="Arne Brödel"/>
      <meta itemprop="publisher" content="heilpraktiker-physiotherapie.com" itemscope itemtype="https://schema.org/Person/" /> 
     <div class="postthumbcont" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
      <meta itemprop="url" content="{{post.thumb}}">
      <meta itemprop="width" content="200">
      <meta itemprop="height" content="100">
         <amp-img class="postthumb" src="{{post.thumb}}" width="200" height="100" layout="responsive"></amp-img>
     </div>
<!--    <div class="posttextcont">-->
      <h3 itemprop="name headline"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3><br/>
      <time itemprop="datePublished" datetime="{{post.date}}">
          {{post.date | date:"%d.%m.%Y"}}
        </time>
        <p>{{post.excerpt | strip_html}} <a href="{{site.baseurl}}{{post.url}}" title="read more" class="more">weiter lesen...</a></p>
<!--    </div>-->
   
    </article>
    
    <div class="breakingbar clearfix"></div>
  {% endfor %} 
  </section>
 <section>
     <!-- Pagination links -->
    {%if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
    {% endif %}
 </section>