---
layout: page
title: Unser Blog - kleine Artikel zu wichtigen Erkenntnissen und Entwicklungen in der Physiotherapie und dem Direktzugang
description: kurze Artikel zum Heilpraktiker für Physiotherapie
metatitle: Blog zur Fortbildung sektoraler Heilpraktiker Physiotherapie
scssfile: blog.scss
---


  <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Abonniere diesen Blog als rss-feed</span></a>
  <br/>
  <section class="posts">
      {% for post in paginator.posts %}
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BlogPosting",
          "name": "{{post.title}}",
          "description": "{{post.excerpt | strip_html}}",
          "url": "{{site.baseurl}}{{post.url}}",
          "headline": "{{post.title}}",
          "datePublished": "{{post.date}}",
          "author":{
            "@context": "http://schema.org",
            "@type": "Person",
            "name": "Arne Brödel"
           },
           "publisher":{
            "@context": "http://schema.org",
             "@type": "Organization",
             "name": "heilpraktiker-physiotherapie.com",
             "logo": "{{site.logo}}"
           },
           "image":{
             "@type": "ImageObject",
             "url": "{{post.fbimage}}"
           }
        }
  </script>
    <article role="article">
     <div class="postthumbcont">
         <amp-img class="postthumb" src="{{post.thumb}}" width="200" height="100" layout="responsive"></amp-img>
     </div>
<!--    <div class="posttextcont">-->
      <h3><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3><br/>
      <time datetime="{{post.date}}">
          {{post.date | date:"%d.%m.%Y"}}
        </time>
        <p>{{post.excerpt | strip_html}} <a href="{{site.baseurl}}{{post.url}}" title="read more" class="more">weiter lesen...</a></p>
<!--    </div>-->
   
    </article>
    
    <div class="breakingbar clearfix"></div>
  {% endfor %} 
  </section>
 <section>
     <!-- Pagination links -->
    {%if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
    {% endif %}
 </section>