<footer class="site-footer midgrey">
        <a href="{{site.baseurl}}/impressum/" class="barbuttons fullheight havesizetext"><b>Impressum</b></a>
        <div class="left followbar socialbuttons">
           <div id="share">
            <div class="sharespacer big">Teile diese Seite</div>
            <div class="sharespacer small">Teilen</div>
            <amp-social-share class="hoveropacity" type="facebook" layout="responsive" width="60px" height="44px" data-param-app_id="1377337912294444" data-param-text="Fortbildung zum Heilpraktiker Physiotherapie" data-param-href="{{%site.url%}}{{%site.baseurl%}}{{%page.url%}}" data-block-on-consent-purposes="purpose-social"></amp-social-share>
            <amp-social-share class="twitter" type="twitter" layout="responsive" width="60px" height="44px" data-block-on-consent-purposes="purpose-social"></amp-social-share>
            <amp-social-share  class="gplus" type="gplus" layout="responsive" width="60px" height="44px" data-block-on-consent-purposes="purpose-social"></amp-social-share>
            </div>
            <div id="visit">
            <div class="sharespacer big">Besuch uns bei</div>
            <div class="sharespacer small">Wir bei</div>
                <a href="{{site.baseurl}}{{site.facebook_url}}" target="_blank"><amp-img src="{{ site.baseurl }}/assets/images/FacebookRectBlue.svg" alt="an image" width="60px" height="44px" layout="responsive"></amp-img></a>
                <a href="{{site.baseurl}}{{site.twitter_url}}" target="_blank"><amp-img src="{{ site.baseurl }}/assets/images/TwitterRectBlue.svg" class="twitter" alt="an image" layout="responsive" width="60px" height="44px"></amp-img></a>
                <a href="{{site.baseurl}}{{site.youtube_url}}" target="_blank"><amp-img src="{{ site.baseurl }}/assets/images/YouTubeRectRed.svg" class="youtube" alt="an image" layout="responsive" width="60px" height="44px"></amp-img></a>
            </div>
            <div id="contact">
            <div class="sharespacer">Kontakt</div>
            <a href="{{site.baseurl}}/kontakt/" target="_blank"><amp-img id="emailbutton" src="{{ site.baseurl }}/assets/images/EmailRectGreen.svg" alt="an image" layout="responsive" width="60px" height="44px"> </amp-img></a>
            <a id="phoneimg"  href="tel:+4917624317369">
            <amp-img src="{{ site.baseurl }}/assets/images/TelephoneRectBlue.svg" alt="an image" layout="responsive" width="60px" height="44px"></amp-img></a>
            <div id="phonenumber">
                0176- 243 173 69
            </div>
            </div>
        </div>
    </footer>