<footer class="site-footer midgrey">
        <a href="{{site.baseurl}}/impressum/" class="barbuttons fullheight havesizetext"><b>Impressum</b></a>
        <div class="left followbar socialbuttons">
           <div id="share">
            <div class="sharespacer big">Teile diese Seite</div>
            <div class="sharespacer small">Teilen</div>
            <amp-social-share type="system" layout="responsive" width="60px" height="44px"></amp-social-share>
            <amp-social-share type="linkedin" layout="responsive" width="60px" height="44px"></amp-social-share>
            <amp-social-share class="hoveropacity" type="facebook" layout="responsive" width="60px" height="44px" data-param-app_id="1377337912294444" data-param-text="Fortbildung zum Heilpraktiker Physiotherapie" data-param-href="{{%site.url%}}{{%site.baseurl%}}{{%page.url%}}"></amp-social-share>
            <amp-social-share class="twitter" type="twitter" layout="responsive" width="60px" height="44px"></amp-social-share>
            </div>
            <div id="contact">
            <div class="sharespacer">Kontakt</div>
            <a href="{{site.baseurl}}/kontakt/" target="_blank"><amp-img id="emailbutton" src="{{ site.baseurl }}/assets/images/EmailRectGreen.svg" alt="Ein Briefumschlag als Symbol für E-Mail" layout="responsive" width="60px" height="44px"> </amp-img></a>
            <a id="phoneimg"  href="tel:+4917624317369">
            <amp-img src="{{ site.baseurl }}/assets/images/TelephoneRectBlue.svg" alt="Ein Telefonhörer als Symbol für einen Anruf" layout="responsive" width="60px" height="44px"></amp-img></a>
            <div id="phonenumber">
                0176- 243 173 69
            </div>
            </div>
        </div>
    </footer>