$siteurl-baseurl: "{{%site.url%}}{{%site.baseurl%}}";
$font-family-heading: "Noto sans", sans-serif;
$font-family-postits: "Noto sans", sans-serif;
$font-family-text: "Noto sans", sans-serif;
$font-size-strong: 1.1em;
$primary-color: #005f00;
$secondary-color: #ecffea;
$first-accent-color: #3f93b1;
$secondary-accent-color: rgb(236, 251, 255);

$bg-red: #ea2634;

$bg-midgrey: #aaaaaa;
$general-max-width: 120rem;

/*        _________________________________________________________*/
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-text;
    font-size: 1rem;
    padding-top: 40px;
}
main {
    width: 100%;
    display: inline-block;
    font-size: 1.4em;
    section {
        margin: auto;
        max-width: $general-max-width;
        background-color: #ffffff;
    }
}

h1 {
    font-family: $font-family-heading;
    font-size: 2rem;
}

.mainheader {
    padding: 20px;
    h1 {
        text-align: center;
        color: $primary-color;
        font-weight: 700;
        text-transform: uppercase;
        word-spacing: 1px;
        letter-spacing: 2px;
        position: relative;

        span {
            line-height: 1.6em;
            padding-bottom: 15px;
            text-transform: none;
            //font-size: 0.7em;
            font-weight: normal;
            font-style: italic;
            font-family: $font-family-heading;
            color: #474747;
            letter-spacing: -0.005em;
            word-spacing: 1px;
        }

        &:after,
        &:before {
            position: absolute;
            bottom: 0;
            width: 45px;
            height: 4px;
            content: "";
            margin: auto;
            background-color: #ccc;
        }
        &:after {
            right: 45px;
            width: 50%;
        }

        &:before {
            background-color: $primary-color;
            left: 45px;
            width: 50%;
        }
    }
}

h2 {
    font-size: 1.3em;
    font-family: $font-family-heading;
}

h3 {
    margin: 0;
    display: inline;
    font-size: $font-size-strong;
    font-family: $font-family-heading;
}

strong {
    font-size: $font-size-strong;
    font-family: $font-family-postits;
}

pre {
    display: inherit;
    font-family: inherit;
    margin: 0;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}

button {
    border-style: none;
    vertical-align: middle;
    font-size: 1em;
    font-family: $font-family-heading;
}


nav {
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #a1a1a1;
}
.navbuttonsbar {
    position: absolute;
    top: 4px;
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: center;
    .barbuttons {
        padding: 5px;
    }
}

amp-user-notification {
    background: rgba(107, 197, 140, 0.8);
    font-size: 0.8rem;
    font-weight: bold;
    div {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button {
        padding: 0.3rem;
    }
}

amp-sidebar {
    padding-right: 10px;
    padding-left: 0px;
    padding-right: 20px;
    font-size: 0.8em;
    ul {
        padding-left: 8px;
    }
    a {
        background-color: lightblue;
        color: #333333;
        padding: 2px;
        padding-bottom: 0.4rem;
        padding-top: 0.4rem;
        margin: 1px;
        border: 2px solid grey;
        display: inline-block;
        width: 100%;
        &:link {
            text-decoration: none;
        }
        &:visited {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
            background-color: $first-accent-color;
            color: white;
        }
        &:active {
            text-decoration: none;
        }
    }
}

amp-social-share[type="whatsapp"] {
    background-color: #25d366;
    background-image: url($siteurl-baseurl + "/assets/images/WhatsApp.svg");
    width: 60px;
    height: 44px;
}

.amp-close-image {
    top: 10px;
    left: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

nav,
amp-sidebar {
    li {
        margin-bottom: 6px;
        list-style: none;
    }
}

footer {
    height: 40px;
    width: 100%;
    margin-top: 4px;
    font-size: 14px;
    .followbar {
        height: 100%;
        float: left;
        div {
            float: left;
        }
        amp-img {
            width: 40/44 * 60px;
            margin: 0 2px 0 2px;
            float: left;
            height: 40px;
            opacity: 0.7;
        }
        amp-img:hover {
            box-sizing: border-box;
            opacity: 1;
            border-style: inset;
            border-width: 2px;
            border-color: #ffffff;
        }
        amp-social-share {
            width: 40/44 * 60px;
            margin: 0 2px 0 2px;
            float: left;
            height: 40px;
            opacity: 0.7;
        }
        amp-social-share:hover {
            box-sizing: border-box;
            opacity: 1;
            border-style: inset;
            border-width: 2px;
            border-color: #ffffff;
        }
    }
    .sharespacer {
        padding: 3px 0px;
        float: left;
        width: auto;
    }
    .sharespacer.small {
        display: none;
    }
    .barbuttons {
        float: right;
        height: 100%px;
        box-sizing: border-box;
    }
    #phonenumber {
        float: left;
        display: none;
        font-size: 2em;
        margin-top: -1.2em;
        margin-left: -8em;

        background-color: $first-accent-color;
    }
    #phoneimg:hover + #phonenumber {
        display: block;
    }
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
}

blockquote {
    color: $primary-color;
    border-left: 2px solid #909090;
    padding-left: 1em;
}

/*_________________________________________________________________*/

/*_________________________________________________________________*/

.betweenTextImage {
    width: 30%;
    margin: 1em;
}

.hoveropacity {
    opacity: 0.9;
}

.hoveropacity:hover {
    opacity: 1;
}

.blue {
    background-color: $first-accent-color;
}

.secondary-accent-color {
    background-color: $secondary-accent-color;
}

.green {
    background-color: $primary-color;
}

.red {
    background-color: $bg-red;
}

.secondary-color {
    background-color: $secondary-color;
}

.midgrey {
    background-color: $bg-midgrey;
}
.text-white {
    color: #ffffff;
}

.textaligncenter {
    text-align: center;
}

.post-title {
    max-width: $general-max-width;
    font-size: 2rem;
    margin: auto;
    text-align: center;
}

.boxshadow {
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.4);
}
.box-link {
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    box-shadow: inset 0 0 0 0 var(--link-1);
    transition:
        color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    color: rgb(0, 95, 0);

    &:hover {
        color: rgb(255, 255, 255);
        box-shadow: inset 400px 0 0 0 rgb(0, 95, 0);
    }
}

.standardbutton {
    @extend button;
    display: inline-block;
    box-sizing: border-box;
    top: auto;
    bottom: auto;
    text-align: center;
    text-decoration: none;
    cursor: default;
    transition: 0.25s;
}

.standardbutton:hover,
.standardbutton:focus {
    box-shadow: inset 0 0 0 2em lightgreen;
    color: #333333;
}
.barbuttons {
    @extend button;
    float: left;
    margin: 0px 0px;
    padding: 10px 10px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-width: medium;
    background-color: #fff;
    border-left-style: solid;
    border-left-color: #ffffff;
    border-right-style: solid;
}

.barbuttons:hover {
    @extend button, :hover;
    border-color: #ffffff;
    color: #ffffff;
    border-bottom-style: none;
    border-top-style: none;
    background-color: #333333;
    box-shadow: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.fullheight {
    height: 100%;
}

.halfsizetext {
    font-size: 0.5rem;
}
amp-youtube {
    margin: 0px 0px;
}

.clearfix {
    clear: both;
}

.navbuttonsbar {
    height: 100%;
}

.navbuttonsbar .lastbutton {
    border-right-style: none;
}

.lastbutton:hover {
    border-right-style: none;
}

.halfwidth {
    width: 50%;
}

.relativepos {
    position: relative;
}

.sharespacer {
    height: 34px;
    width: 60px;
    padding-top: 8px;
    font-family: $font-family-heading;
    font-size: 1.2em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.spacer {
    height: 2rem;
}
.post {
    padding: 1rem 1rem;
    margin: auto;
    margin: auto;
}

.dozentencarousel {
    margin: auto;
    max-width: $general-max-width;
    max-height: 90vh;
    .imagewrapper {
        height: 100%;
        float: left;
    }
    .dozenttext {
        height: 100%;
        float: left;
    }
    .dozentquote {
        font-family: $font-family-postits;
        margin-top: 3em;
        font-size: 2em;
        margin-bottom: 1em;
        margin-left: 1em;
    }
    .dozentname {
        font-size: 1.4em;
        margin-left: 1em;
    }

    .amp-carousel-button {
        bottom: 10px;
        opacity: 0.1;
        &:hover {
            opacity: 0.9;
        }
    }
    &:hover {
        .amp-carousel-button {
            opacity: 0.3;
        }
    }
}
#mainDozentenCarousel {
    .amp-carousel-button {
        bottom: 10px;
        opacity: 0.1;
        &:hover {
            opacity: 0.9;
        }
    }
}
.homelink {
    font-size: 0.8em;
    color: rgb(61, 61, 61);
}

.maxwidth800 {
    max-width: 800px;
}

.maxheight800 {
    max-height: 800px;
}

.center-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
}

.elfsight_widget {
    height: 340px;
    font-size: larger;
}

#consentDialog {
    background-color: #fff; // Weißer Hintergrund für Klarheit
    border-radius: 12px; // Weiche abgerundete Ecken
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // Sanfter Schatten

    h3 {
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: 15px;
        color: #333; // Dunkler Text für Kontrast
    }

    p {
        font-size: 1em;
        color: #666; // Mittelgrauer Text für ruhigen Stil
        margin-bottom: 20px;
    }

    .choices {
        text-align: left; // Checkboxen und Labels linksbündig
        margin-bottom: 20px;

        .consentLabel {
            display: flex;
            align-items: center;
            font-size: 1em;
            padding: 10px 0;
            color: #333;

            input[type="checkbox"] {
                width: 20px;
                height: 20px;
                margin-right: 10px; // Abstand zwischen Checkbox und Label
                cursor: pointer;
            }
        }
    }

    .choiceButton {
        &.accept {
            background-color: $primary-color; // Schlichtes Grün für den Button
            color: white;
            padding: 12px 24px;
            font-size: 1em;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%; // Button nimmt die volle Breite ein

            &:hover {
                background-color: #218838; // Dunkleres Grün beim Hover
            }
        }
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.2em;
        cursor: pointer;
        background: none;
        border: none;
    }
}

#consentPopup {
    position: relative;
}



#topline {
    width: 100%;
    height: 4px;
}


#homebt {
    overflow: hidden;
    width: 84px;
    height: 84px;
    border-radius: 42px;
    background-color: #ffffff;
    margin-top: -10px;
    margin-left: -10px;
    padding-top: 10px;
    padding-left: 10px;
    border-style: solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

#homebt:hover {
    border-style: inset;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-width: medium;
    border-color: #333333;
}

#socialbar {
    float: left;
    margin: auto;
    width: 10%;
    max-width: 80px;
}

#sidebartogglebutton {
    float: right;
    margin: 4px 10px 0px 0px;
    padding: 2px 4px;
    border-style: groove;
    border-width: 2px;
    border-radius: 4px;
    &:hover {
        border-color: #ffffff;
        color: #ffffff;
        background-color: #333333;
        box-shadow: none;
    }
}

#contactform {
    //display: none;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 500px;
    height: 410px;
}

#ReviewImage {
    max-height: 351px;
    max-width: 846px;
    margin: auto;
}

#shortintros {
    h2,
    h3,
    span {
        margin: auto;
        padding: 1em;
        display: block;
    }
}

#welcometext {
    margin-left: auto;
    margin-right: auto;
    font-family: $font-family-postits;
}

#YoutubeImpressionVid,
#YoutubeVorschauImage {
    max-width: $general-max-width;
    max-height: 90vh;
    margin: auto;
}
footer #emailbutton:hover + #contactform + #contactform:hover + #newsletterform + #newsletterform:hover {
    display: block;
}

/* ___________________________________________________________________________________      */
@media (max-width: 1200px) {
    .dozenttext {
        font-size: 1rem;
    }
    h3{
        font-size: 1.4rem;
    }
    strong{
        font-size: 1.4rem;
    }
}

@media (max-width: 1100px) {
    nav {
        button {
            font-size: 0.8em;
            font-weight: bold;
        }
        .navbuttonsbar .barbuttons {
            padding: 7px 5px;
        }
    }
}

@media (max-width: 960px) {
    footer .sharespacer.big {
        display: none;
    }
    footer .sharespacer.small {
        display: block;
    }
}

@media (min-width: 880px) {
    #sidebartogglebutton {
        display: none;
    }
    #AuswahlSection .standardbutton {
        min-height: 7em;
    }
}
@media (max-width: 879px) {
    .navbuttonsbar {
        display: none;
    }
    nav {
        height: 50px;
        background-color: transparent;
        border-bottom-style: none;
    }
    body {
        padding-top: 50px;
    }
    main {
        width: 99.8%;
        padding-left: 0.1%;
        padding-right: 0.1%;
    }

    .post-title {
        margin-top: 0px;
        font-size: 1.4em;
    }
    #homebt {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin-top: -5px;
        margin-bottom: -5px;
        padding-top: 5px;
    }
    .dozenttext {
        font-size: 0.8rem;
    }
}

@media (max-width: 690px) {
    footer .youtube {
        display: none;
    }

    .dozentencarousel {
        .dozentquote {
            margin-top: 0.8em;
            margin-bottom: 0.8em;
        }
    }
}
@media (max-width: 630px) {
    #visit {
        display: none;
    }

    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 590px) {
    .elfsight_widget {
        height: 340px;
        overflow-x: hidden;
    }
    .dozentencarousel {
        .dozenttext {
            font-size: 0.6rem;
        }
    }
    footer .sharespacer {
        display: none;
    }
    footer .sharespacer.small {
        display: none;
    }
}

@media (max-width: 520px) {
    body {
        font-size: 0.8em;
    }
    .dozentencarousel {
        .dozenttext {
            font-size: 0.4rem;
        }
    }
    #AuswahlSection button {
        font-size: 1em;
        width: 96%;
    }
    #AuswahlSection .standardbutton {
        min-height: 4em;
    }
    .betweenTextImage {
        width: 100%;
        margin: auto;
    }
}


@media (max-width: 460px) {
    amp-social-share[type="twitter"] {
        display: none;
    }
}

@media (max-width: 400px) {
    #consentDialog {
        max-width: 95%; // Responsive Anpassung für kleinere Bildschirme
    }
}
@media (max-width: 360px) {
    footer .barbuttons {
        font-size: 10px;
        padding: 12px 0px;
    }
    amp-social-share[type="facebook"] {
        display: none;
    }
    amp-social-share[type="linkedin"] {
        display: none;
    }
}
