
$siteurl-baseurl:"{{%site.url%}}{{%site.baseurl%}}";
$font-family-heading: "Trebuchet MS", Helvetica, sans-serif;
$font-family-postits: "Book Antiqua", Palatino, serif;
$font-family-text: Helvetica, Arial, sans-serif;
$font-size-strong: 1.1em;
$bg-blue: #3f93b1;
$bg-green: #49b300;
$bg-red: #ea2634;
$bg-lightgrey: #e6e6e6;
$bg-midgrey: #aaaaaa;

/*        _________________________________________________________*/
html, body{
   margin:0;
   padding:0;
    
}
html{
    font-size: 20px;
}
body {
    font-family: $font-family-text;
    font-size: 1.0rem;
    padding-top: 40px;
}
main {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2em;
    display: inline-block;
    section{
        max-width: 58em;
        margin: auto;
    }
}

h1 {
    font-family: $font-family-heading;
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
    font-family: $font-family-heading;
}

h3 {
    margin: 0;
    display: inline;
    font-size: $font-size-strong;
}

strong {
    font-size: $font-size-strong;
    font-family: $font-family-postits;
}

pre {
    display: inherit;
    font-family: inherit;
    margin: 0;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

button {
    border-style:none;
    vertical-align: middle;
    font-size: 1em;
    font-family: $font-family-heading;
}

button:hover {
    border-style: solid;
    border-width: medium;
    border-color: #FFFFFF;
}



nav {
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #A1A1A1;
    .navbuttonsbar {
        position: absolute;
        top: 4px;
        height: 36px;
        right: 0px;
        .barbuttons{
            padding: 5px;
        }
    }
}

amp-sidebar {
    width: 250px;
    padding-right: 10px;
    padding-left: 0px;
    font-size: 0.8em;
    ul {
        padding-left: 8px;
    }
}

amp-social-share[type=whatsapp] {
    background-color: #25D366;
    background-image: url($siteurl-baseurl+'/assets/images/WhatsApp.svg');
    width: 60px;
    height: 44px;
}

.amp-close-image {
    top: 10px;
    left: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

nav, amp-sidebar{
    li {
    margin-bottom: 6px;
    list-style: none;
    button {
        padding: 10px 10px;
        font-weight: bold;
        border-width: medium;
        border-left-style: solid;
        border-left-color: #FFFFFF;
        border-right-style: solid;
        background-color: #ffffff;
        color: #333333;
        box-shadow: none;
        height: 50px;
        width: 100%;
    }
    }
}

footer {
    height: 40px;
    width: 100%;
    margin-top: 4px;
    font-size: 14px;
    .followbar {
        height: 100%;
        float: left;
        div{
            float: left;
        }
        amp-img {
            width: 40/44*60px ;
            margin: 0 2px 0 2px;
            float: left;
            height: 40px;
            opacity: 0.7;
        }
        amp-img:hover{
            box-sizing: border-box;
            opacity: 1;
            border-style: inset;
            border-width: 2px;
            border-color: #ffffff;
        }
        amp-social-share {
            width: 40/44*60px ;
            margin: 0 2px 0 2px;
            float: left;
            height: 40px;
            opacity: 0.7;
        }
        amp-social-share:hover{
            box-sizing: border-box;
            opacity: 1;
            border-style: inset;
            border-width: 2px;
            border-color: #ffffff;
        }
    }
    .sharespacer {
        padding: 3px 0px;
        float: left;
        width: auto;
    }
    .sharespacer.small {
        display: none;
    }
    .barbuttons {
        float: right;
        height: 100%px;
        box-sizing: border-box;
    }
    #phonenumber{
        float: left;
        display: none;
        font-size: 2em;
        margin-top: -1.2em;
        margin-left: -8em;
       
        background-color: $bg-blue;
    }
    #phoneimg:hover + #phonenumber{
        display: block;
    }
}

iframe{
    margin: 0;
    padding: 0;
    border: none;
}

blockquote{
    font-style: italic;
    color:#555555;
    border-left: 2px solid #909090;
    padding-left: 1em;
}

/*_________________________________________________________________*/

.hoveropacity {
    opacity: 0.9;
}

.hoveropacity:hover {
    opacity: 1;
}

.blue {
    background-color: $bg-blue;
}

.green {
    background-color: $bg-green;
}

.red {
    background-color: $bg-red;
}

.lightgrey {
    background-color: $bg-lightgrey;
}

.midgrey {
    background-color: $bg-midgrey;
}

.boxshadow {
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.4);
}

.barbuttons {
    float: left;
    margin: 0px 0px;
    padding: 10px 10px;
    border-width: medium;
    background-color: #fff;
    border-left-style: solid;
    border-left-color: #FFFFFF;
    border-right-style: solid;
}

.barbuttons:hover {
    border-color: #FFFFFF;
    color: #FFFFFF;
    border-bottom-style: none;
    border-top-style: none;
    background-color: #333333;
    box-shadow: none;
}

.right {
    float: right;
}

.left {
    float: left
}

amp-youtube {
    margin: 0px 0px;
}

.clearfix {
    clear: both;
}

.navbuttonsbar{
    height: 100%;
}

.navbuttonsbar .lastbutton {
    border-right-style: none;
}

.lastbutton:hover {
    border-right-style: none;
}

.fullwidthtextbar {
    margin-left: -12.4%;
    margin-right: -12.4%;
    padding: 1em 14% 1em 14%;
    font-size: 1.2em;
    max-width: none;
}

.relativepos {
    position: relative;
}

.sharespacer {
    height: 34px;
    width: 60px;
    padding-top: 8px;
    font-family: $font-family-heading;
    font-size: 1.2em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.post{
    max-width: 58em;
    margin: auto;
}

.dozentencarousel {
    margin: auto;
    max-width: 1260px;
    .imagewrapper{
        width: percentage(168/852);
        height: 100%;
        float: left;
        display: inline-block;
    }
    .dozenttext{
        width: 80%;
        height: 100%;
        display: inline-block;
    }
    .dozentquote{
        font-family: $font-family-postits;
        margin-top: 3em;
        font-size: 1.3em;
        margin-bottom: 1em;
    }
    .dozentname{
        font-size: 1em;
    }
    
    .amp-carousel-button {
        opacity: 0.1;
        &:hover {
            opacity: 0.9;
        }
    }
    &:hover .amp-carousel-button {
        opacity: 0.6;
    }
}
.homelink{
    font-size: 0.8em;
    color: darkgray
}

/*______________________________________________________________*/

#topline{
    width: 100%;
    height: 4px;
}

#mainheader {
    margin-top: 0px;
    padding: 0;
    padding-top: 10px;
    
    
     h2, h1 {
    text-align: center;
    padding-bottom: 0.2em;
    padding-left: 12.5%;
    padding-right: 12.5%;
    margin-bottom: 0px;
    }
    
    h2 {
    color: #ffffff;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 0px;
}
}

#homebt {
    overflow: hidden;
    width: 84px;
    height: 84px;
    border-radius: 42px;
    background-color: #ffffff;
    margin-top: -10px;
    margin-left: -10px;
    padding-top: 10px;
    padding-left: 10px;
    border-style: solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

#homebt:hover {
    border-style: inset;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-width: medium;
    border-color: #333333;
}

#AuswahlSection {
    margin: auto;
    margin-top: 0em;
    margin-bottom: 4em;
    button {
        margin: 2px;
        width: 48%;
        line-height: 1.2em;
        height: 10em;
        padding: 16px;
        font-size: 1.2em;
        font-weight: bold;
        color: #ffffff;
    }
}

#introvid {
    margin: auto;
    max-width: 1400px;
    width: 100%;
}


#socialbar {
    float: left;
    margin: auto;
    width: 10%;
    max-width: 80px;
}

#welcometext{
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-family-postits;
}


#sidebartogglebutton {
    float: right;
    margin: 4px 10px 0px 0px;
    padding: 2px 4px;
    border-style: groove;
    border-width: 2px;
    border-radius: 4px;
    &:hover {
        border-color: #FFFFFF;
        color: #FFFFFF;
        background-color: #333333;
        box-shadow: none;
    }
}

#contactform{
    //display: none;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 500px;
    height: 410px;

}
footer #emailbutton:hover + #contactform +#contactform:hover{
    display: block;
}


/* ___________________________________________________________________________________      */
@media(max-width:1100px){
    nav {
        button{
            font-size: 0.8em;
            font-weight: bold;
        }
        .navbuttonsbar .barbuttons{
            padding: 7px 5px;
        }
    }
}


@media (max-width: 1050px){
     #visit .gplus {
        display: none;
    }
    footer .sharespacer{
        margin: 0;
    }
    
}

@media (max-width: 960px){
    footer .sharespacer.big {
        display: none;
    }
    footer .sharespacer.small{
        display: block;
        
    }
}

@media (min-width: 870px) {
    #sidebartogglebutton {
        display: none;
    }

}
@media (max-width: 869px) {
    .navbuttonsbar {
        display: none;
    }
    nav {
        height: 50px;
        background-color: transparent;
        border-bottom-style:none;
    }
    body{
        padding-top: 50px;
    }
    main {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .fullwidthtextbar {
        margin-left: -1.9%;
        margin-right: -1.9%;
        padding: 1em 4% 1em 4%;
    }
    
    .post-title{
        text-align: center;
        margin-top: 0px;
    }
    #homebt{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin-top: -5px;
        margin-bottom: -5px;
        padding-top: 5px;
       
    }

}


@media (max-width:800px){
    .dozentencarousel {
        .dozenttext{
            font-size: 0.8em;
        }
    }
}
@media (max-width: 750px){
    #share .gplus {
        display: none;
    }
    
}

@media (max-width: 690px){
        footer .youtube {
            display: none;
        }
    
     .dozentencarousel {
        .dozentquote{
            margin-top: 0.8em;
            margin-bottom: 0.8em;
        }
    }

}
@media (max-width: 630px) {
    #visit{
        display: none;
    }

    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 570px) {
   
    

}
@media (max-width: 490px) {
    footer .sharespacer {
        display: none;
    }
     footer .sharespacer.small{
            display: none;
    }
    body {
        font-size: 0.8em;
    }
     .dozentencarousel {
        .dozentquote{
            font-size: 1.2em;
        }
    }
}
@media (max-width: 420px) {

    #AuswahlSection button {
        padding: 2px;
    }
    #welcometext{
        font-size: 0.8em;
    }
}
@media (max-width:360px){
    footer .barbuttons{
        font-size: 10px;
        padding: 12px 0px;
    }
    #AuswahlSection button{
        font-size: 0.8em;
        width: 96%;
    }
}
#shortintros {
    article{
        margin-bottom: 2em;
    }
}
