.kurstermincontainer{
    float: left;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    width: 100%;
    max-width: 800px;
    position: relative;
    margin-bottom: 8px;
}
.achtungbox{
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(161, 235, 189);
    color: black;
    width: 100%;
    position: relative;
    margin-bottom: 8px;
}
.kursbackground{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 0;
}
.kurstermincontent{
    z-index: 5;
    position: relative;
    padding: 4px;
}
a.anmelde_link{
    display: inline-block;
    color: white;
    border-color: #398439;
    background-color: #47a447;
    padding: 8px;
    margin: 8px 20px;
    :hover{
        background-color: #419641;
        background-position: 0 -15px;
    }
}
.warteliste{
   display: inline-block;
        color: white;
        border-color: orange;
        background-color:orangered;
        padding: 8px;
        margin: 8px 20px; 
}
.iselearning{
    display: inline-block;
         color: white;
         border-color: rgb(0, 0, 0);
         background-color:rgb(0, 4, 255);
         padding: 8px;
         margin: 8px 20px; 
 }
 .ispresence{
    display: inline-block;
         color: white;
         border-color: rgb(0, 0, 0);
         background-color: rgb(132, 0, 255);
         padding: 8px;
         margin: 8px 20px; 
 }
 .ishybrid{
    display: inline-block;
         color: white;
         border-color: rgb(0, 0, 0);
         background-color:rgb(255, 115, 0);
         padding: 8px;
         margin: 8px 20px; 
 }
#gmaps{
    max-height: 500px;
  }