---

---
<!DOCTYPE html>
<html ⚡ lang="de">
  {% include head.html %}
   <body>
      <!--the parent of amp-sidebar must be body -->
       <amp-sidebar id="sidebar" layout="nodisplay" side="right">
        <amp-img class="amp-close-image hoveropacity midgrey" src="{{site.baseurl}}/assets/images/closeX.svg" width="40" height="40" alt="close sidebar" on="tap:sidebar.toggle" role="button" tabindex="0"></amp-img>
          <ul>
              <li><a class="page-link" href="{{ site.baseurl }}/termine-und-anmeldung/"><button class="barbuttons">Termine</button></a></li>
              <li><a class="page-link" href="{{ site.baseurl }}/fortbildung-zum-heilpraktiker-physiotherapie/"><button class="barbuttons">Die Fortbildung</button></a></li>
              <li><a class="page-link" href="{{ site.baseurl }}/voraussetzungen-und-anerkennung/"><button class="barbuttons">Voraussetzungen</button></a></li>
              <li><a class="page-link" href="{{ site.baseurl }}/was-ist-ein-heilpraktiker-physiotherapie/"><button class="barbuttons">Infos zum HP Physio</button></a></li>
              <li><a class="page-link" href="{{ site.baseurl }}/kontakt/"><button class="barbuttons">Kontakt</button></a></li>
              <li><a class="page-link" href="{{ site.baseurl }}/neuigkeiten-und-lesenswertes-zum-heilpraktiker-physiotherapie/"><button class="barbuttons">Blog</button></a></li>
              <li><a class="page-link" href="{{ site.baseurl }}/downloads-formulare-und-hilfen-zum-heilpraktiker-physiotherapie/"><button class="barbuttons">Downloads</button></a></li>
            </ul>

    </amp-sidebar>
    {% include header.md %}
    {{ content }}
    {% if page.comments %}
       <amp-iframe width=600 height=140
            layout="responsive"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups"
            resizable
            src="https://arnold85.github.io/websiteassets/disqusamp#1">
           <amp-img layout="fill" src="/assets/images/BannerHPPT.jpg" placeholder></amp-img>
       </amp-iframe>
    {% endif %}
    {% include footer.html %}
   <amp-analytics type="googleanalytics" id="analytics2">
<script type="application/json">
{
  "vars": {
    "account": "UA-83795942-1"
  },
  "triggers": {
    "trackPageviewWithAmpdocUrl": {
      "on": "visible",
      "request": "pageview",
      "vars": {
        "title": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
        "ampdocUrl": "{{site.url}}{{site.baseurl}}{{page.url}}"
      }
    }
  }
}
</script>
</amp-analytics>


  </body>
    
</html>
