---

---
<!DOCTYPE html>
<html ⚡  lang="de">
  {% include head.html %}
   <body>
      <amp-analytics type="googleanalytics" data-block-on-consent>
          <script type="application/json">
          {
            "vars": {
              "account": "UA-48825435-1"
            },
            "triggers": {
              "trackPageview": {
                "on": "visible",
                "request": "pageview"
              }
            }
          }
          </script>
      </amp-analytics>
      <amp-consent layout="nodisplay" id="consent-element">
        <script type="application/json">
        {
          "consents": {
            "my-consent": {
              "checkConsentHref": "https://foo.com/api/show-consent",
              "promptUI": "consent-ui"
            }
          }
        }
        </script>
        <div id="consent-ui">
          <button on="tap:consent-element.accept" role="button">Accept</button>
          <button on="tap:consent-element.reject" role="button">Reject</button>
          <button on="tap:consent-element.dismiss" role="button">Dismiss</button>
        </div>
      </amp-consent>    

      <!--the parent of amp-sidebar must be body -->
       <amp-sidebar id="sidebar" layout="nodisplay" side="right">
        <amp-img class="amp-close-image hoveropacity midgrey" src="{{site.baseurl}}/assets/images/closeX.svg" width="40" height="40" alt="close sidebar" on="tap:sidebar.toggle" role="button" tabindex="0"></amp-img>
          <ul>
              <li><a class="" href="{{ site.baseurl }}/termine-und-anmeldung/">Termine</a></li>
              <li><a class="" href="{{ site.baseurl }}/fortbildung-zum-heilpraktiker-physiotherapie/">Die Fortbildung</a></li>
              <li><a class="" href="{{ site.baseurl }}/voraussetzungen-und-anerkennung/">Voraussetzungen</a></li>
              <li><a class="" href="{{ site.baseurl }}/was-ist-ein-heilpraktiker-physiotherapie/">Infos zum HP Physio</a></li>
              <li><a class="" href="{{ site.baseurl }}/kontakt/">Kontakt</a></li>
              <li><a class="" href="{{ site.baseurl }}/neuigkeiten-und-lesenswertes-zum-heilpraktiker-physiotherapie/">Blog</a></li>
              <li><a class="" href="{{ site.baseurl }}/downloads-formulare-und-hilfen-zum-heilpraktiker-physiotherapie/">Downloads</a></li>
              <li><a class="" href="{{ site.baseurl }}/impressum/">Impressum</a></li>
              <li><a class="" href="{{ site.baseurl }}/datenschutz/">Datenschutz</a></li>
            </ul>

    </amp-sidebar>
    {% include header.md %}
    {{ content }}
    <span class="homelink">zurück zur Startseite <a href="{{site.baseurl}}/">Fortbildung Heilpraktiker Physiotherapie (HP Physio)</a></span>
    {% include footer.html %}
   <amp-analytics type="googleanalytics" id="analytics2">
<script type="application/json">
{
  "vars": {
    "account": "UA-83795942-1"
  },
  "triggers": {
    "trackPageviewWithAmpdocUrl": {
      "on": "visible",
      "request": "pageview",
      "vars": {
        "title": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
        "ampdocUrl": "{{site.url}}{{site.baseurl}}{{page.url}}"
      }
    }
  }
}
</script>
</amp-analytics>


  </body>
    
</html>
