---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    </section>
          <span>Geschrieben von <em>{% if page.authorname %} {{ page.authorname }}{% else %}{{site.name}}{% endif %}</em>{% if page.authorbio %} -  {{page.authorbio}}{% endif %} - Veröffentlicht am <time datetime="{{ page.date | date: '%F %R' }}">{{ page.date | date_to_string }}</time></span>
      {{post}}
        <div class="site-footer">
          <span><a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Abonniere diesen Blog als feed</span></a></span>
          </div>
        </div>
  </article>
</main>
